<footer class="bg-black text-white py-8 mt-10">
  <div class="container mx-auto px-4 text-center space-y-4">
    <p class="font-primary">
      © {{ year }} Ótica Savana. Todos os direitos reservados.
    </p>
    <div class="flex justify-center space-x-40 text-xl pt-10">
      <a
        href="https://wa.me/seu_numero"
        target="_blank"
        class="hover:text-primary transition flex font-light flex-col items-center"
        ><app-logo-whatsapp></app-logo-whatsapp>WhatsApp</a
      >
      <a
        href="#"
        class="hover:text-primary transition flex font-light flex-col items-center"
      >
        <app-logo-instagram></app-logo-instagram> Instagram</a
      >
      <a
        href="#"
        class="hover:text-primary transition flex font-light flex-col items-center"
        ><app-logo-facebook></app-logo-facebook>Facebook</a
      >
    </div>
  </div>
</footer>
